.maincontaier {
    display: flex;
    column-gap: 3rem;
    justify-content: center;
}
.h1
{
    color: blue;
    background-color: red;
    font-style: italic;
    flex-basis: fill;
}
/* .container {
    height: 450px;
    width: 250px;
    background-color: white;
    border-color: black;
    border-radius: 10px;
    margin: 0px;
    
    padding-bottom: 20px;
    box-shadow: 5px 5px 5px 5px #ececf6e8;
}

.container img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.container h2 {
    align-items: center;
    justify-content: center;
    padding-left: 89px;
}

.container p {
    padding-left: 30px;
    padding-right: 20px;
} */